<div class="container mt-4">
  <h3>SELEZIONA CON QUALE CRITERIO VUOI CERCARE:</h3>

  <div class="row">
    <div class="col-6">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" routerLink="/searchByTrack" routerLinkActive="active-menu">TRACCIA</button>
        <button type="button" class="btn btn-primary" routerLink="/searchByArtist" routerLinkActive="active-menu">ARTISTA</button>
        <button type="button" class="btn btn-primary" routerLink="/searchByGenre" routerLinkActive="active-menu">GENERE</button>
        <button type="button" class="btn btn-primary" routerLink="/searchByAlbum" routerLinkActive="active-menu">ALBUM</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
      <router-outlet></router-outlet>
</div>
